// 背景图片
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

// 不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px

// 页面全屏
full-page(wrap=hidden)
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  overflow wrap
  background-color $color-background
//超出部分显示省略号
ellipsis()
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;  
//css3 全屏居中
css3center()
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)
//旋转歌曲封面的动画
rotateDisc()
  &.rotate
    animation rotate-disc 25s linear infinite
  &.pause-rotate
    animation-play-state paused
  @keyframes rotate-disc
    from
      transform rotate(0)
    to
      transform rotate(360deg)  

red()
  color $color-sub-theme

vuxTabStyle()
  /deep/ .vux-tab-container
    height 30px
    border: 1px solid $color-highlight-background
    .vux-tab
      height 30px
    .vux-tab-item
      border-color $color-highlight-background !important
      background-color $color-background
      border-right 1px solid $color-highlight-background
      color $color-text-d
      border none !important
      background-size 0
      line-height 30px
      &.vux-tab-selected
        background-color $color-highlight-background
        color $color-text
        border none